.App {
  padding: 20px;
  /* text-align: center; */
  background-color: #15202B;
  color: #FFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-name {
  text-align: center;
  margin-top: 0;
  letter-spacing: 8px;
}

.value-wrapper {
  text-align: center;
}

.title__text, .url__text {
  margin-bottom: 7px;
  font-weight: bold;
}

.title__value, .url__value {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1C9BEF;
  box-shadow: 0 1px 3px #CCC;
  font-weight: bold;
}

.button-wrapper {
  text-align: center;
}

.post-button {
  width: 258px;
  margin-top: 30px;
  height: 35px;
  font-weight: bold;
  background-color: #1C9BEF;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  line-height: 0;
}

.post-button:hover {
  background-color: #3ca3e8;
}

.post-button.invalid {
  cursor: not-allowed;
}

.post-button.invalid:hover {
  background-color: #1C9BEF;
}

.post-button__clicked {
  width: 258px;
  margin-top: 30px;
  height: 35px;
  background-color: #1C9BEF;
  border: none;
  border-radius: 5px;
  line-height: 0;
}

.annotation {
  padding: 10px;
  border-radius: 5px;
  background-color: #293848;
  word-break: break-all;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
