.App {
  padding: 20px;
  /* text-align: center; */
  background-color: #15202b;
  color: #fff;
}

.App-name {
  text-align: center;
  margin-top: 0;
  letter-spacing: 8px;
}

.value-wrapper {
  text-align: center;
}

.title__text,
.url__text {
  margin-bottom: 7px;
  font-weight: bold;
}

.title__value,
.url__value {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1c9bef;
  box-shadow: 0 1px 3px #ccc;
  font-weight: bold;
}

.button-wrapper {
  text-align: center;
}

.post-button {
  width: 258px;
  margin-top: 30px;
  height: 35px;
  font-weight: bold;
  background-color: #1c9bef;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  line-height: 0;
}

.post-button:hover {
  background-color: #3ca3e8;
}

.post-button.invalid {
  cursor: not-allowed;
}

.post-button.invalid:hover {
  background-color: #1c9bef;
}

.post-button__clicked {
  width: 258px;
  margin-top: 30px;
  height: 35px;
  background-color: #1c9bef;
  border: none;
  border-radius: 5px;
  line-height: 0;
}

.annotation {
  padding: 10px;
  border-radius: 5px;
  background-color: #293848;
  word-break: break-all;
}
