.CallBackWrapper {
  width: 800px;
  text-align: center;
  padding: 50px 0;
}

.CallBackWrapper .status {
  font-size: 30px;
  color: #15202b;
}

.CallBackWrapper .message {
  font-size: 20px;
  color: #15202b;
}
